@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-sfPro;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #6c1d36, #1c2da1);
  border-radius: 6px;
  border: 2px solid rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #391823, #1a2048);
  transition: background 0.4s ease;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.bgGrad {
  background-image: url("../public/bg.png");
  background-size: 100% 100%;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.bgGrad2 {
  background-image: url("../public/bg2.png");
  background-size: 100% 100%;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
.customBanner {
  background-image: url("../public/customBanner.png");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
.customShadow {
  box-shadow:
    -1.78px -1.78px 5.339px 0px #082f49,
    1.78px 1.78px 5.339px 0px rgba(48, 62, 71, 0.5);
}
